## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import os
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'STATUS'.
application_df = application_df.drop(['EIN', 'STATUS'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts to identify and replace with "Other"
application_df['NAME'].value_counts()

NAME
PARENT BOOSTER USA INC                               1260
TOPS CLUB INC                                         765
UNITED STATES BOWLING CONGRESS INC                    700
WASHINGTON STATE UNIVERSITY                           492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC       408
                                                     ...
OUR PERFECT STORM                                       1
FOUNTAIN THEATER                                        1
COMBAT VETERANS MOTORCYCLE ASSOCIATION 33-7             1
NEW MEXICO ASSOCIATION OF INDEPENDENT SCHOOLS INC       1
RED SHOE PROJECT INC                                    1
Name: count, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < 10].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
STEVES CLUB NATIONAL PROGRAM                  10
GENERAL FEDERATION OF WOMENS CLUB             10
NATIONAL ASSOCIATION OF LETTER CARRIERS       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: count, Length: 223, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts()< 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() <1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], axis='columns').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 =  40
hidden_nodes_layer3 =  10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 80)                     21,280

 dense_1 (Dense)                  (None, 40)                      3,240

 dense_2 (Dense)                  (None, 40)                      1,640

 dense_3 (Dense)                  (None, 1)                          41

 Total params: 26,201 (102.35 KB)

 Trainable params: 26,201 (102.35 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Create a ModelCheckpoint callback to save every 5 epochs
checkpoint = "checkpoints/weights.{epoch:02d}.weights.h5"
checkpoint_dir = os.path.dirname(checkpoint)
os.makedirs(checkpoint_dir, exist_ok=True)

# Custom callback to save every 5 epochs
class CustomModelCheckpoint(tf.keras.callbacks.Callback):
    def __init__(self, filepath, save_freq=5):
        super().__init__()
        self.filepath = filepath
        self.save_freq = save_freq

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.save_freq == 0:
            filename = self.filepath.format(epoch=epoch + 1)
            self.model.save_weights(filename)
            print(f"\n Checkpoint saved at {filename}")

# Create the callback
cp_callback = CustomModelCheckpoint(filepath=checkpoint, save_freq=5)

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs=80, callbacks=[cp_callback])

Epoch 1/80
804/804  3s 2ms/step - accuracy: 0.7488 - loss: 0.5207
Epoch 2/80
804/804  2s 2ms/step - accuracy: 0.7829 - loss: 0.4476
Epoch 3/80
804/804  2s 2ms/step - accuracy: 0.7852 - loss: 0.4419
Epoch 4/80
804/804  3s 3ms/step - accuracy: 0.7843 - loss: 0.4407
Epoch 5/80
782/804  0s 2ms/step - accuracy: 0.7843 - loss: 0.4357
 Checkpoint saved at checkpoints/weights.05.weights.h5
804/804  2s 2ms/step - accuracy: 0.7843 - loss: 0.4358
Epoch 6/80
804/804  2s 2ms/step - accuracy: 0.7835 - loss: 0.4421
Epoch 7/80
804/804  3s 2ms/step - accuracy: 0.7920 - loss: 0.4347
Epoch 8/80
804/804  2s 2ms/step - accuracy: 0.7840 - loss: 0.4373
Epoch 9/80
804/804  3s 2ms/step - accuracy: 0.7899 - loss: 0.4350
Epoch 10/80
794/804  0s 3ms/step - accuracy: 0.7914 - loss: 0.4305
 Checkpoint saved at checkpoints/weights.10.weights.h5
804/804  2s 3ms/step - accuracy: 0.7914 - loss: 0.4305
Epoch 11/80
804/804  2s 2ms/step - accuracy: 0.7956 - loss: 0.4300
Epoch 12/80
804/804  2s 2ms/step - accuracy: 0.7878 - loss: 0.4356
Epoch 13/80
804/804  3s 2ms/step - accuracy: 0.7930 - loss: 0.4285
Epoch 14/80
804/804  2s 2ms/step - accuracy: 0.7947 - loss: 0.4287
Epoch 15/80
787/804  0s 2ms/step - accuracy: 0.7925 - loss: 0.4303
 Checkpoint saved at checkpoints/weights.15.weights.h5
804/804  2s 3ms/step - accuracy: 0.7925 - loss: 0.4303
Epoch 16/80
804/804  2s 2ms/step - accuracy: 0.7894 - loss: 0.4325
Epoch 17/80
804/804  2s 2ms/step - accuracy: 0.7963 - loss: 0.4227
Epoch 18/80
804/804  3s 2ms/step - accuracy: 0.7883 - loss: 0.4321
Epoch 19/80
804/804  2s 2ms/step - accuracy: 0.7955 - loss: 0.4282
Epoch 20/80
783/804  0s 2ms/step - accuracy: 0.7925 - loss: 0.4273
 Checkpoint saved at checkpoints/weights.20.weights.h5
804/804  2s 2ms/step - accuracy: 0.7925 - loss: 0.4273
Epoch 21/80
804/804  2s 2ms/step - accuracy: 0.7981 - loss: 0.4202
Epoch 22/80
804/804  2s 3ms/step - accuracy: 0.7967 - loss: 0.4239
Epoch 23/80
804/804  2s 2ms/step - accuracy: 0.7959 - loss: 0.4219
Epoch 24/80
804/804  3s 2ms/step - accuracy: 0.7965 - loss: 0.4251
Epoch 25/80
783/804  0s 2ms/step - accuracy: 0.7922 - loss: 0.4256
 Checkpoint saved at checkpoints/weights.25.weights.h5
804/804  2s 2ms/step - accuracy: 0.7923 - loss: 0.4256
Epoch 26/80
804/804  3s 2ms/step - accuracy: 0.7927 - loss: 0.4277
Epoch 27/80
804/804  3s 3ms/step - accuracy: 0.7937 - loss: 0.4200
Epoch 28/80
804/804  2s 2ms/step - accuracy: 0.7938 - loss: 0.4265
Epoch 29/80
804/804  2s 2ms/step - accuracy: 0.7950 - loss: 0.4253
Epoch 30/80
786/804  0s 2ms/step - accuracy: 0.7991 - loss: 0.4167
 Checkpoint saved at checkpoints/weights.30.weights.h5
804/804  3s 2ms/step - accuracy: 0.7990 - loss: 0.4169
Epoch 31/80
804/804  2s 2ms/step - accuracy: 0.7904 - loss: 0.4301
Epoch 32/80
804/804  3s 2ms/step - accuracy: 0.7955 - loss: 0.4229
Epoch 33/80
804/804  3s 3ms/step - accuracy: 0.7954 - loss: 0.4194
Epoch 34/80
804/804  2s 2ms/step - accuracy: 0.7960 - loss: 0.4237
Epoch 35/80
792/804  0s 2ms/step - accuracy: 0.7977 - loss: 0.4204
 Checkpoint saved at checkpoints/weights.35.weights.h5
804/804  2s 2ms/step - accuracy: 0.7976 - loss: 0.4204
Epoch 36/80
804/804  3s 2ms/step - accuracy: 0.7952 - loss: 0.4220
Epoch 37/80
804/804  2s 2ms/step - accuracy: 0.7937 - loss: 0.4246
Epoch 38/80
804/804  2s 2ms/step - accuracy: 0.7985 - loss: 0.4199
Epoch 39/80
804/804  3s 3ms/step - accuracy: 0.7953 - loss: 0.4184
Epoch 40/80
800/804  0s 2ms/step - accuracy: 0.7943 - loss: 0.4207
 Checkpoint saved at checkpoints/weights.40.weights.h5
804/804  2s 2ms/step - accuracy: 0.7943 - loss: 0.4207
Epoch 41/80
804/804  3s 2ms/step - accuracy: 0.7951 - loss: 0.4209
Epoch 42/80
804/804  2s 2ms/step - accuracy: 0.7951 - loss: 0.4215
Epoch 43/80
804/804  3s 2ms/step - accuracy: 0.7984 - loss: 0.4192
Epoch 44/80
804/804  2s 2ms/step - accuracy: 0.7968 - loss: 0.4164
Epoch 45/80
777/804  0s 2ms/step - accuracy: 0.7999 - loss: 0.4166
 Checkpoint saved at checkpoints/weights.45.weights.h5
804/804  2s 2ms/step - accuracy: 0.7998 - loss: 0.4167
Epoch 46/80
804/804  2s 2ms/step - accuracy: 0.7950 - loss: 0.4237
Epoch 47/80
804/804  3s 2ms/step - accuracy: 0.7930 - loss: 0.4223
Epoch 48/80
804/804  2s 2ms/step - accuracy: 0.7977 - loss: 0.4182
Epoch 49/80
804/804  2s 2ms/step - accuracy: 0.8000 - loss: 0.4165
Epoch 50/80
784/804  0s 3ms/step - accuracy: 0.7962 - loss: 0.4203
 Checkpoint saved at checkpoints/weights.50.weights.h5
804/804  3s 3ms/step - accuracy: 0.7962 - loss: 0.4203
Epoch 51/80
804/804  2s 2ms/step - accuracy: 0.7984 - loss: 0.4168
Epoch 52/80
804/804  2s 2ms/step - accuracy: 0.7994 - loss: 0.4181
Epoch 53/80
804/804  3s 2ms/step - accuracy: 0.7973 - loss: 0.4201
Epoch 54/80
804/804  2s 3ms/step - accuracy: 0.8019 - loss: 0.4092
Epoch 55/80
799/804  0s 2ms/step - accuracy: 0.8013 - loss: 0.4146
 Checkpoint saved at checkpoints/weights.55.weights.h5
804/804  2s 2ms/step - accuracy: 0.8013 - loss: 0.4146
Epoch 56/80
804/804  3s 3ms/step - accuracy: 0.8006 - loss: 0.4189
Epoch 57/80
804/804  2s 2ms/step - accuracy: 0.7975 - loss: 0.4174
Epoch 58/80
804/804  2s 2ms/step - accuracy: 0.7944 - loss: 0.4183
Epoch 59/80
804/804  3s 2ms/step - accuracy: 0.7991 - loss: 0.4140
Epoch 60/80
788/804  0s 2ms/step - accuracy: 0.7967 - loss: 0.4170
 Checkpoint saved at checkpoints/weights.60.weights.h5
804/804  2s 2ms/step - accuracy: 0.7967 - loss: 0.4171
Epoch 61/80
804/804  3s 2ms/step - accuracy: 0.7977 - loss: 0.4192
Epoch 62/80
804/804  2s 3ms/step - accuracy: 0.7972 - loss: 0.4188
Epoch 63/80
804/804  2s 2ms/step - accuracy: 0.7972 - loss: 0.4182
Epoch 64/80
804/804  2s 2ms/step - accuracy: 0.8016 - loss: 0.4133
Epoch 65/80
788/804  0s 2ms/step - accuracy: 0.7985 - loss: 0.4132
 Checkpoint saved at checkpoints/weights.65.weights.h5
804/804  2s 2ms/step - accuracy: 0.7985 - loss: 0.4133
Epoch 66/80
804/804  3s 2ms/step - accuracy: 0.8009 - loss: 0.4142
Epoch 67/80
804/804  2s 2ms/step - accuracy: 0.7994 - loss: 0.4134
Epoch 68/80
804/804  3s 3ms/step - accuracy: 0.7968 - loss: 0.4177
Epoch 69/80
804/804  2s 2ms/step - accuracy: 0.7952 - loss: 0.4188
Epoch 70/80
801/804  0s 2ms/step - accuracy: 0.7985 - loss: 0.4154
 Checkpoint saved at checkpoints/weights.70.weights.h5
804/804  2s 2ms/step - accuracy: 0.7985 - loss: 0.4154
Epoch 71/80
804/804  3s 2ms/step - accuracy: 0.7970 - loss: 0.4165
Epoch 72/80
804/804  2s 2ms/step - accuracy: 0.7962 - loss: 0.4177
Epoch 73/80
804/804  3s 3ms/step - accuracy: 0.7965 - loss: 0.4170
Epoch 74/80
804/804  2s 2ms/step - accuracy: 0.7996 - loss: 0.4131
Epoch 75/80
784/804  0s 2ms/step - accuracy: 0.8021 - loss: 0.4104
 Checkpoint saved at checkpoints/weights.75.weights.h5
804/804  2s 2ms/step - accuracy: 0.8020 - loss: 0.4106
Epoch 76/80
804/804  2s 2ms/step - accuracy: 0.8008 - loss: 0.4152
Epoch 77/80
804/804  2s 2ms/step - accuracy: 0.8005 - loss: 0.4132
Epoch 78/80
804/804  3s 2ms/step - accuracy: 0.7932 - loss: 0.4187
Epoch 79/80
804/804  2s 3ms/step - accuracy: 0.8017 - loss: 0.4095
Epoch 80/80
790/804  0s 2ms/step - accuracy: 0.8007 - loss: 0.4176
 Checkpoint saved at checkpoints/weights.80.weights.h5
804/804  2s 2ms/step - accuracy: 0.8007 - loss: 0.4176

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7855 - loss: 0.4999
Loss: 0.4999263286590576, Accuracy: 0.7855393290519714

In [19]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.